<h1 style="text-align: center ">Message board</h1>


<div id="managment">
    <div>
        <h2>Log in</h2>
        <h3>{{error}}</h3>
        <form action="/get-user" method="post">
            Username:<br>
            <input type="text" name="username" value="">
            <br>
            Password:<br>
            <input type="password" name="pword" value="">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <h2>Sign in</h2>
        <form action="/register" method="post">
            Username:<br>
            <input type="text" name="username" value="">
            <br>
            Password:<br>
            <input type="password" name="pword" value="">
            <br>Credit card:<br>
            <input type="text" name="creditcard" value="">
            <input type="submit" value="Sign in">
        </form>
    </div>
</div>
<div class="messages">
    <p style="text-align: center, font-size:20px ">Messages</p>
    {{#each messages}}
        <div>
            <div>{{{this.title}}}</div>
            <div>{{{this.body}}}</div>
        </div>
    {{else}}
        <p>There is no messages :(</p>
    {{/each}}
</div>

