<!DOCTYPE html>
<html>
  <head>
    <title>Most secure message board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <!-- if there is errors from database, please contact admin to check /static/database.db  -->
    {{{body}}}
  </body>
</html>
